@font-face {
  font-family: Norse-Bold;
  font-style: normal;
  src: url("../fonts/Norse-Bold.otf");
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.logo {
  margin-top: 20vh;
}

.logotext {
  padding: 1em;
}

#sidebar {
  flex: 5;
  min-width: 30vh;
  font-family: Norse-Bold;
}

#header,
#form,
#signup {
  display: flex;
  font-family: Roboto-Regular;
  padding: 1em;
}

#header {
    flex: 1;
    min-height: 20vh;
    justify-content: end;
    background-color: rgb(206, 197, 197);
    flex-direction: column;
}

#form {
    flex: 5;
    min-height: 60vh;
    flex-direction: column;
    background-color: ghostwhite;
    height: 20vh;
}

#signup {
    flex: 1;
    background-color: rgb(206, 197, 197);
    height: 20vh;
    flex-direction: column;
}

.logo {
  display: flex;
  height: 20vh;
  /* width: 40vw; */
  justify-content: center;
  background-color: black;
  color: white;
  opacity: 0.75;
}

.logotext {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sidebar {
  background: url("../images/leaf.jpg") no-repeat top left;
  overflow: hidden;
  background-size: cover;
  clear: both;
  /* padding: 0px;
  margin: 0px; */
}
