@font-face {
  font-family: Norse-Bold;
  font-style: normal;
  src: url("../fonts/Norse-Bold.otf");
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Mono;
  font-style: normal;
  src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.logo {
  margin-top: 20vh;
  /* float: left; */
}

.logotext {
  padding: 1em;
  float: left;
}

#sidebar {
  min-width: 30vw;
  max-width: 50vw;
  flex: 0.3;
  font-family: Norse-Bold;
}

#header,
#form,
#signup {
  display: flex;
  font-family: Roboto-Regular;
  padding: 1em;
  min-width: 70vw;
}

#header {
  flex: 1;
  min-height: 20vh;
  justify-content: end;
  background-color: rgb(223, 217, 217);
  flex-direction: column;
}

#acc {
  /* Source: Edit of Button 6 from https://getcssscan.com/css-buttons-examples */
  background-color: #596d48;
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 12px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#form {
  flex: 5;
  min-height: 60vh;
  flex-direction: column;
  background-color: ghostwhite;
  height: 20vh;
}

#signup {
  flex: 1;
  background-color: rgb(223, 217, 217);
  height: 20vh;
  flex-direction: column;
}

.logo {
  display: flex;
  height: 20vh;
  /* width: 40vw; */
  justify-content: center;
  background-color: black;
  color: white;
  opacity: 0.75;
}

.logotext {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sidebar {
  background: url("../images/leaf.jpg") no-repeat top left;
  overflow: hidden;
  background-size: cover;
  clear: both;
  /* padding: 0px;
  margin: 0px; */
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputcolumns {
 display: flex;
 flex-direction: row;
}

.inputcolumn1,
.inputcolumn2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  max-width: 40vw;
}

label,
input {
  display: block;
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
}

a:link,
a:visited {
  color: #596d48;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid #ccc;
  border-color: #e5e7eb;
  border-radius: 5px;
  box-shadow: #D3D3D3;
}

input:focus {
  border-color: rgba(0, 0, 255, 0.267);
  box-shadow: #e5e7eb;
}

input:hover {
  box-shadow: 0 0 2pt 0.5pt #D3D3D3;
}

label {
  font-size: 14px;
  font-family: Roboto-Mono;
}

.button1 {
  padding: 20px;
  margin-left: 10px;
}