@font-face {
  font-family: Norse-Bold;
  font-style: normal;
  src: url("../fonts/Norse-Bold.otf");
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.logo {
  margin-top: 20vh;
}

.logotext {
  padding: 1em;
}

#sidebar {
  min-width: 30vw;
  flex: 0.3;
  font-family: Norse-Bold;
}

#header,
#form,
#signup {
  display: flex;
  font-family: Roboto-Regular;
  padding: 1em;
}

#header {
  flex: 1;
  min-height: 20vh;
  justify-content: end;
  background-color: rgb(223, 217, 217);
  flex-direction: column;
}

#acc {
  /* Source: Edit of Button 6 from https://getcssscan.com/css-buttons-examples */
  background-color: rgba(5, 92, 13, 0.863);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif; */
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 12px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#form {
  flex: 5;
  min-height: 60vh;
  flex-direction: column;
  background-color: ghostwhite;
  height: 20vh;
}

#signup {
  flex: 1;
  background-color: rgb(223, 217, 217);
  height: 20vh;
  flex-direction: column;
}

.logo {
  display: flex;
  height: 20vh;
  /* width: 40vw; */
  justify-content: center;
  background-color: black;
  color: white;
  opacity: 0.75;
}

.logotext {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sidebar {
  background: url("../images/leaf.jpg") no-repeat top left;
  overflow: hidden;
  background-size: cover;
  clear: both;
  /* padding: 0px;
  margin: 0px; */
}


.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.inputcolumn1, .inputcolumn2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
}